*{
    padding: 0;
    margin: 0;
}
body{
    background-color: rgba(73, 73, 172, 0.2);
}
nav{
    width: 100%;
    height: 100px;
    background-color: rgba(73, 73, 172, 0.5);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#logo{
    width: 140px;
    height: 140px;
}
.input{
    display: flex;
}
input{
    width: 450px;
    height: 40px
}
i{
    background-color: rgb(242, 242, 35);
    color: white;
    padding: 9px; 
    margin-left: -5px;
}
.cart{
    display: flex;
    padding: 0px 50px;
    width: 30px;
    height: 30px
}
.cart img{
    padding-left: 10px;
}

/* nav bar For Small Screens*/
@media(max-width:1000px){
    nav{
        height: 80px;
    }
    #logo{
        width: 100px;
        height: 100px
    }
    input{
        width: 250px;
        height: 30px
    }
    i{
        margin-left: -2px;
        padding: 7px;
    }
    .cart{
        padding: 0px 20px;
        width: 20px;
        height: 20px
    }
    .cart img{
        padding-left: 7px;
    }
}

/* categories for small screen */
@media(max-width:1000px){
    .categories h2{
        padding-bottom: 5px;
        margin-bottom: 5px;
    }
    .categories li{
        padding: 6px 0;
    }
}

/* small screen for background-screen */
@media(max-width:1000px){
    .background-images h2{
        font-size: 18px;
    }
    .background-images img{
        width: 60%;
    }
}

/* mobile heading for small screen */
@media(max-width:1000px){
    #mob-heading{
        margin-top: 80px;
        margin-bottom: 10px;
        padding: 10px 20px; 
    }
    .mobiles{
        grid-template-columns: 30% 30% 30%;
        justify-content: space-around;
    }
    .mobiles div{
        margin: 10px 0;
        height: 100%;
        border: 1px solid #fafafa;
    }
    .mobiles div img{
        height: 90%;
        width: 90%;
    }
    .mobiles span p{
        font-size: medium;
    }
}

    /*nav bar For Mobile*/
    @media(max-width:400px){
    nav{
        height: 60px;
    }
    #logo{
        width: 60px;
        height: 50px;
    }
    input{
        width: 170px;
        height: 25px;
    }
    i{
        background-color: transparent;
        color: #000;
        padding-top: 2px;
        margin-left: -2px;
    }
    .cart{
        padding: 0px 15px;
        width: 15px;
        height: 15px;
    }
    .cart img{
        padding-left: 5px;
    }
}

/* categories for mobile screen */
@media(max-width:400px){
    .home{
        margin: 20px 0;
    }
    .categories{
        padding: 5px;
        height: 70px;
    }
    .categories h2{
        font-size: 7px;
        margin-top: 2px;
        padding: 2px;
    }
    .categories li{
        padding: 2px 0px;
        font-size: 1vh;
    }
}

/* mobile screen for background images */
@media(max-width:400px){
    .background-images{
        background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url(./images/th\ \(1\).jfif);
        background-size: cover;
    }
    .background-images h2{
        font-size: 10px;
    }
    .background-images{
        width: 40%;
    }
}

/* mobile setting for mobile headings */
@media(max-width:400px){
    #mob-heading{
        margin-top: 30px;
        margin-bottom: 0px;
        padding: 0 20px;
        font-size: 2.5vh;
    }
    .mobiles{
        grid-template-columns: 50% 50%;
        justify-content: space-around;
    }
}

/* Home */
.home{
    display: grid;
    grid-template-columns: 20% 75%;
    margin: 30px 0px;
    justify-content: space-evenly;
}
.categories{
    background-color: aliceblue;
    border: 1px solid wheat;
    padding: 15px;
}
.categories h2{
    background-color: rgba(71, 71, 186, 0.504);
    color: #fff;
    text-align: center;
    padding-bottom: 5px;
    margin-bottom: 20px;
}
.categories li{
    list-style-type: none;
    padding: 8px 0;
    padding-left: 20px;
}
.categories li a{
    text-decoration: none;
    color: #000;
}

.background-images{
    background-image: linear-gradient(rgba(0,0,0,0.43), rgba(0,0,0,0.438)), url(./images/th\ \(1\).jfif);
    color: #fff;
    width: 100%;
    display: flex; 
    justify-content: space-evenly;
    align-items: center;
}
.background-images h2{
    z-index: 2;
    color: #fff;
    text-align: center;
    font-size: 28px;
}
.background-images img{
    width: 300px;
    height: 200px;
}

#mob-heading{
    margin-top: 60px;
    margin-bottom: 10px;
    padding: 10px 20px;
}
.mobiles{
    display: grid;
    grid-template-columns: 14% 14% 14% 14% 14% 14%;
    justify-content: space-around;
}
.mobiles div{
    display: grid;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: #fafafa;
    border: 1px solid gainsboro;
    text-align: center;
    margin: 10px 0;
}
.mobiles div img{
    width: 150px;
    height: 150px;
    border-radius: 5px;
    margin: 10px;
    background-color: transparent;
}
.mobiles span p{
    padding: 3px;
    font-size: small;
}
.mobiles span p:first-child{
    font-weight: bold;
}

/* laptop section */
#laptop-heading{
    margin-top: 60px;
    margin-bottom: 10px;
    padding: 10px 20px;
}
.laptops{
    display: grid;
    grid-template-columns: 22% 22% 22% 22%;
    justify-content: space-around;
}
.laptops div{
    align-items: center;
    background-color: #fafafa;
    border: 1px solid #a09d9d;
    text-align: center;
}
.laptops div img{
    height: 160px;
    width: 180px;
    border-radius: 5px;
    margin: 15px;
    margin-bottom: 5px;
    background-color: transparent;
}
.notify{
    background-color: #080808;
    color: #090909;
    width: 90px;
    height: 40px;
    padding: 0;
    margin-top: 10px;
    box-shadow: rgb(0,0,0,0.35) 0px 5px 10px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.notify p{
    padding-top: 10px;
    font-size: small;
}
.laptops h4{
    padding-top: 5px;
    padding-bottom: 15px;
}
#smart-watch{
    margin-top: 60px;
    margin-bottom: 10px;
    padding: 10px 20px;
}
.watches{
    display: grid;
    grid-template-columns: 25% 25%;
    justify-content: space-around;
}
.watches div{
    align-items: center;
    background-color: #fafafa;
    border: 1px solid #a09d9d;
    text-align: center;
}
.watches div img{
    height: 160px;
    width: 180px;
    border-radius: 5px;
    margin: 20px;
    margin-bottom: 5px;
    background-color: transparent;
}
.watches div h4{
    margin-top: 20px;
}